:root{
    --punk: #C43415
    }
    body {
      font-size: 14px;
      line-height: 1.462;
      font-family: Arial, sans-serif;
    }
    .navbar{

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        color: beige;
        font-size: 1.4rem;
        background-color: rgb(100, 100, 100);
    }
    
    .material-symbols-outlined{
        font-size: 2rem;
    }
    
    .inputContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    
    .inputContainer input{
        width: 30%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 1px 3px 5px wheat;
        font-size: 1.2rem;
        margin: 1rem 1rem;
    
    }
    
    
    .btn{
        width: 8%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 1px 3px 5px rgb(228, 217, 196);
        background-color: black;
        color: aliceblue;
        margin-left: 0.8rem;
        font-size: medium;
        font-weight: 600;
    }
    
    img {
      max-width: 50%;
    }
    .beers {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-gap: 18px;
      .beer {
        background: #f9f9f9;
        padding: 7px;
        text-align: center;
        cursor: pointer;
        img {
          width: 25%;
        }
        .fa-star {
          float: right;
          color: #d6d6d6;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
    .active-star {
      color: var() !important;
    }
    .tabs {
      display: grid;
      grid-template-columns: 32% 32% 32%;
      grid-gap: 2%;
      background: #000;
      text-align: center;
      padding: 1%;
      margin-bottom: 18px;
    }
    .tab__item {
      background: white;
      cursor: pointer;
      color: var(--punk);
    }
    .container {
      max-width: 900px;
      margin: 0 auto;
      position: relative;
    }
    .active {
      background: var(--punk);
      color: #fff;
    }
    .pop-up {
      display: none;
      position: absolute;
      background: #000;
      color: #fff;
      font-size: 16px;
      transform: translate(-50%, -50%);
      left: 50%;
      padding: 3%;
      width: 55%;
      top: 100%;
      z-index: 99;
    }
    .fa-window-close-o {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    .bg {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #00afdbd4;
      display: none;
    }
    .title {
      color: var(--punk);
    }
    .favourites {
      display: none;
      background: var(--punk);
      position: absolute;
      width: 100%;
      img {
        width: 20%;
      }
    }
    .favourites__title {
      background: var(--punk);
      display: inline-block;
      padding: 5px;
      color: #fff;
      margin: 0;
      cursor: pointer;
    }
    .favourites__item {
      text-align: center;
      display: inline-block;
      width: 20%;
    }
    .favourites__close {
      float: right;
      cursor: pointer;
    }


    footer{
        display: flex;
        justify-content: center;
        align-items: center;
       background-color: #414040;
       color:beige;
       font-weight: 400;
    }

    
